

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

.clear{clear: both;}
.grid, .list{
	border-radius: 3px;
	width: 15px; 
	height:15px; 
	margin-left: 10px; 
    margin-top: 20px;
    margin-right: 20px;
	float: left; 
	cursor:  pointer; 
	padding: 5px; 
}

.grid{background: url(../img/grid.png) 50% no-repeat;}
.grid:hover{background: #bd8036 url(../img/gridw.png) 50% no-repeat;}
.grid-active{ background: #bd8036 url(../img/gridw.png) 50% no-repeat; }

.list{background:  url(../img/list.png) 50% no-repeat;}
.list:hover{background: #bd8036 url(../img/listw.png) 50% no-repeat;}
.list-active{background: #bd8036 url(../img/listw.png) 50% no-repeat;}

.prods-cnt{
	width: 100%; 
	height:auto;
	overflow: auto; 
	min-height: 400px; 
	margin: 40px auto;
	background-color: #fafafa;
	border: #ccc 1px dotted;
	padding: 40px;
}

/* Grid Style */
.prod-box{
	width: 208px; 
	height: 375px;
	padding: 10px;
	background-color: #fff;
	margin: 15px 10px;
	float: left;
    border-radius: 15px;
}


.prod-box .price-box{
    clear: both;
    display: block;
        margin-left: 6px;
    
}
.prod-box .detail-box{
    clear: both;
    display: block;
    margin-top: -10px;
    margin-right: 15px;
}
.prod-box img:first-child{
	width: 150px; 
	float: right;
        margin-left: -147px;

    margin-bottom: 18px;
}
.prod-box-list img:first-child{
    	width: 155px; 
	float: right;
    margin-left: -9px;
}
.detail-box:first-child{
    clear: both;
}
.text-box:first-child{
    display: none;
}
.prod-box h3 a{
	text-decoration: none;
	width:140px;
	float: left;
	margin: 5px 0;
	color:#888;
	font: italic normal 14px georgia;
	font-style: italic;
}
.prod-box .text-box{ display: none;}

.prod-box .old{
	margin-right: 20px;
	color: #be0000 !important;
	text-decoration: line-through;
}
.prod-box .price{
	width: 60px;
	display: inline; 
	float: left;
	font: italic 13px georgia;
	color: #181818;
}
.prod-box .buy-ico{
	border-radius: 20px;
	width: 35px; height: 35px;
	float: right;
	margin: 5px;
	cursor: pointer;
	background: #039fd3 url(../img/bag-ico.png) 50%  no-repeat;
	-webkit-transition:background-color 0.3s ease-in;  
   	-moz-transition:background-color 0.3s ease-in;  
   	-o-transition:background-color 0.3s ease-in;  
   	transition:background-color 0.3s ease-in;
}
.prod-box .buy-ico:hover{
	background-color: #7eb800;
}

/* List View Style */
.prod-box-list{
	height: 235px;
	width: 100%;
	margin: 15px 0;
	padding: 10px;
	background-color: #fff;
    border-radius: 15px;
    font-family: IRANSans;
}
.prod-box-list h3 a{
	text-decoration: none;
	width:320px;
	float: left;
	padding:0;
	margin: 0 10px;
	color:#3c2e25;
	font: italic normal 22px georgia;
}
.prod-box-list p{
	color: #888;
	width:360px;
	float: left;
	margin: 20px 10px 10px 10px;
	font: italic 13px  georgia;
	line-height: 20px;
}
    

.prod-box-list .buy-ico{
	border-radius: 5px;
	width: 85px; 
	height: 20px;
	color: #fff;
	padding: 5px 5px 5px 30px;
	font:italic 12px georgia;
	float: right;
	margin: 5px;
	cursor: pointer;

	background: #039fd3 url(../img/bag-ico.png) 5% 50%  no-repeat;
	-webkit-transition:background-color 0.3s ease-in;  
   	-moz-transition:background-color 0.3s ease-in;  
   	-o-transition:background-color 0.3s ease-in;  
   	transition:background-color 0.3s ease-in;
}
.prod-box-list .buy-ico:before{content: "More Details";	line-height: 22px;  }
.prod-box-list .buy-ico:hover{	background-color: #7eb800;}

.prod-box-list .old{	
    color: #be0000 !important; 
	float: right;	
	font-style: 18px;
	text-decoration: line-through;
}
.prod-box-list .price{
	margin-right: 10px;
	display: block; 
	font: italic 20px georgia;
	color: #181818;
	margin:7px;
}
.prod-box-list .price-cnt{ width: 95px; height: auto; float: right; text-align: right;}

@media only screen and (max-width:480px){
   
   .prod-box .image-box {
    padding: 0 3px;
    position: relative;
    right: 50%;
    margin-right: -104px;
    }
.prod-box-list .image-box {
    padding: 0 3px;
    position: relative;
    right: 50%;
    margin-right: -104px;
}
.prod-box-list .detail-box {
    padding: 0;
    clear: both;
    position: relative;
    right: 23%;
    direction: rtl;
    }
    .prod-box .detail-box {
    padding: 0;
    clear: both;
    position: relative;
    right: 23%;
    direction: rtl;
    }
    
    .prod-box {
        width: 90%;
    }
    .prod-box-list{
        padding: 0px;
    height: 355px;
    }
    .prod-box-list img:first-child {
    width: 140px;
    }
    .prod-box img:first-child{
        width: 195px;
    }
    .prod-box-list img:first-child{
        width: 195px;
    }
.prod-box-list {
    width: 95%;
    padding: 10px;
    margin: 15px 10px;
    height: 386px;

    }
}
@media only screen and (max-width:480px){
    .prod-box .detail-box{
        margin-right: 0px;
    }
 .prod-box .price-of-item {
     margin: 20px auto 0 auto !important; 
}
}
  @media only screen and (max-width:992px){
/*
    .prod-box .price-of-item{
    margin: 20px auto 0 0px;
    }
*/
}
@media only screen and (min-width:968px){
   .prod-box-list {
    height: 175px;
    }
/*
     .prod-box .price-of-item{
    margin: 30px auto 0 22px;
    }
*/
}

@media only screen and (max-width:768px){
    .prod-box{
        margin: 15px 16px;
    }
}