/* ---------------

            CRAETED BYE NEGAR GOLZAR

 */

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ejdy32');
  src:  url('fonts/icomoon.eot?ejdy32#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ejdy32') format('truetype'),
    url('fonts/icomoon.woff?ejdy32') format('woff'),
    url('fonts/icomoon.svg?ejdy32#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bill:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-car:before {
  content: "\e902";
}
.icon-chart:before {
  content: "\e903";
}
.icon-convert:before {
  content: "\e904";
}
.icon-convertaction:before {
  content: "\e905";
}
.icon-down:before {
  content: "\e906";
}
.icon-dropdown1:before {
  content: "\e907";
}
.icon-dropdown2:before {
  content: "\e908";
}
.icon-filter1:before {
  content: "\e909";
}
.icon-filter2:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-straight:before {
  content: "\e90c";
}
.icon-up:before {
  content: "\e90d";
}
body{
    font-family: IRANSans;
}
.nopadding{
    padding: 0;
}
.navbar-left{
    float: left;
    margin: 0 auto;
    padding-left: 15px;
}
.navbar-left img{
    width: 150px;
    height: auto;
    margin-top: 25px;
    text-align: center;
    margin: 25px auto 0 auto;
}
.navbar-right img{
     width: 85px;
    float: right;
    margin-top: 26px;
}
.title-of-site{
   text-align: center;
    margin: 30px auto 0 auto;
}
.date-header{
    background-color: white;
    border-radius: 0 15px 15px 0;
    color: black;
    width: 40%;
    display: inline-block;
    float: right;
    height: 26px;
    text-align: center;
    padding: 4px;
     font-size: 13px;
     direction: rtl;
   
}
.day-header{
    background-color: #92288c;
    border-radius: 15px 0 0 15px;
    color: white;
    width: 60%;
    display: inline-block;
    float: left;
    height: 26px;
    text-align: center;
     font-size: 13px;
     padding: 5px;
    


}
.date-time-box{
   margin-top: 28px;
    font-size: 14px;
    padding-right: 10px;
}
.tt{
  
    direction: rtl;
    margin-top: 12px;
    font-size: 14px;
}
.ff{
    font-size: 13px;
}
.navbar-default{
      background-color: #412e4c;
    color: white;
    height: 80px;
    border:none;

}
.navbar{
    margin: 0;
}
.first-box-right{
    background-color: #f0f0e8;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}
.first-box-left{
    background-color: white;
    width: 100%;
    height: auto;
    background-color: white;
    padding-bottom: 19px;
}
.today-nerkh{
    background-color: #91298c;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 30px;
    width:95%;
    height: 40px;
    color: white;
    direction: rtl;
    
}
.cars-icons{
    font-size: 18px;
    position: relative;
    top: 5px
}
.changes-chart{
    background-color:white;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 30px;
    width: 95%;
    height: 40px;
    color: #412e4c;
    direction: rtl;
}
.first-box-right-white-box{
    height: auto;
    border-radius: 15px;
    background-color: white;
    margin-top: 30px;
}
.coins-costs-table td{
    padding: 10px 5px;
}
.coins-table-box img{
    width: 80px;
    margin-top: 30px;
}
.coins-costs-table{
    direction: rtl;
    text-align: center;
    margin: 20px auto;
    font-size: 12px;
}

.tamam-seke-emami{
    border-left: 2px solid #f2efe8;
    border-bottom: 2px solid #f2efe8;
    margin-bottom: 10px;
}
.tamam-seke-emami img ,.tamam-seke-ghadim img,.seke-gerami img,.rob-seke img,.nim-seke img {
    width: 10px;
}
.down-icon{
    color: #f37161;
    font-size: 10px;
}
.up-icon{
    color: #84d0c3;
    font-size: 10px;
}
.straight-icon{
    color: #eead6b;
    font-size: 10px;
}
.seke-gerami,.rob-seke{
      border-left: 2px solid #f2efe8;
    border-top: 2px solid #f2efe8;
}
.tamam-seke-ghadim{
    border-bottom: 2px solid #f2efe8;
}
.first-box-right-button-box-right{
    background-color: white;
    border-radius: 15px;
    height: auto;
    margin-top: 30px;
   width: 100%;
 overflow: auto;
}
.first-box-right-button-box-left{
    background-color: white;
    border-radius: 15px;
    height: auto;
    margin-top: 30px;
    width: 100%; 
    overflow: auto;
}
.first-box-right-button-box-right-table{
    margin: 10px auto ;
    direction: rtl;
}
.first-box-right-button-box-right-table td{
    padding: 5px;
    font-size: 10px;
}
.pp{
    padding-right: 10px;
}

.gold-img img{
    width: 40px;
    margin-top: 30px;
}
.metal-img img{
    width: 40px;
    margin-top: 30px;
}
.gold-img,.metal-img{
    float: right;
}
.fist-box-more{
    border: none;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    width: 70px;
    margin-top: 30px;
    color: black;
}
.changes-chart-left{
    background-color:#f2f2f2;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 30px;
    width: 95%;
    height: 40px;
    color: #412e4c;
    direction: rtl;
}
.change-arz{
       background-color:#f2f2f2;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-top: 30px;
    width: 95%;
    height: 40px;
    color: #412e4c;
    direction: rtl;
}
.first-box-left-button-box-right{
     background-color:#f2f2f2;
    border-radius: 15px;
    height: auto;
    margin-top: 30px;
   width: 100%;
   overflow: auto;
    padding-top: 20px;
    
}
.up-icon-left{
    font-size: 20px;
    float: right;
    direction: rtl;
    color: #5bc1ac;
    margin-top: 10px;
    margin-right: 10px;

}
.title-currency{
    font-size: 10px;
    display: block;
   
}
.cost-currency{
    font-size: 11px;
}
.flg-img img{
    width: 24px;
    height: auto;
    float: left;
    direction: ltr;
    margin-top: -27px;
    
}
.dark-gray-button-box-left{
    border-radius: 0 0 15px 15px;
    background-color: #e6e6e6;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.dark-gray-button-box-buy{
    float: right;
    text-align: center;
}
.down-icon-left{
    font-size: 9px;
    color: #f47264;
}
.up-icon-left-down{
     font-size: 9px;
    color: #5bc2ad;
}
.buy{
    font-size: 9px;
}
.btn-nomodar{
    background-color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
    font-size: 8px;
}
.fist-box-more-left{
    border: none;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    width: 70px;
    margin-top: 32px;
    color: black;
}
.aqua-box{
    background-color: #dbeff6;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
}
.car-logo-peg img{
    width: 22px;
}
.cars-up{
    color: #59c3ad;
}
.cars-down{
    color: #f17263;
}
.car-logo-ren img{
    width: 20px;
}
.aqua-btn{
    background-color: white !important;
    font-family: IRANSans;
}
.boses-aqua{
    direction: rtl;
    float: right;
    font-family: IRANSans;
}
.boxes-car{
   direction: rtl;
    float: right;
    font-family: IRANSans;
    background-color: #f5f6f8;

}
.aqua-box-left-button-box{
       background-color:white;
    border-radius: 15px;
    height: auto;
    margin-top: 30px;
   width: 100%;
   overflow: auto;
    padding-top: 20px;
    font-family: IRANSans;
    
}
.dark-aqua-button-box{
    border-radius: 0 0 15px 15px;
    background-color: #f0fafc;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.car-logo{
    float: right;
    direction: rtl;
}
.car-logo img{
    width: 39px;
}
.name-of-cars{
    font-size: 10px;
    font-weight: bold;
    padding-right: 5px;
}
.car-cost{
    float: left;
    direction: rtl;
    text-align: center;
}
.cost-of-cars{
    padding-left: 10px;
    font-size: 11px;
    
}
.cars-straight{
    color: #ebaf69;
    font-size: 12px;
}
.country-car,.type-car{
    background-color: #dbeff6;
    border-radius: 15px;
    width: 54px;
    text-align: center;
    height: auto;
    padding: 5px;
    font-size: 11px;
   
}
.tx{
    text-align: center;
}
.footer{
    background-color: #412e4c;
    color: white;
    height: auto;
    padding-bottom: 10px;
    
}
.right-footer-text{
    direction: rtl;
    float: right;
}
.right-footer-text img{
   width: 68px;
    padding: 5px;
    margin-top: -4px;
}
.aprika-footer{
    font-size:11px;
        margin-top: 25px;
    display: inline-block;
}

.logo-footer img{
        width: 100px;
    margin-top: 17px;
}
.left-footer-text{
    font-size: 12px;
    margin-top: 20px;
    text-align: right;

}
/*-----------------------------------excchange-page------------------------------*/
.date-time-box{
    width: 100%;
    height: auto;
    background-color: red;
}
.uu{
    margin-top: 30px;
}
.gray-box-excahnge-page{
    background-color:#f2f2f2;
    border-radius: 15px;
    width: 100%;
    height: 277px;
    margin-top: 50px;
    padding: 47px 0;
}
.country-select{
    border:none;
    outline: none;
    background-color: white;
    border-radius: 25px;
}

.option-img img{
    width: 20px;
    height: 20px;
    padding: 0;

}
.mb{
    margin-bottom: 45px;
}
.excchange-icon{
    color: gray;
    font-size: 22px;
    text-align: center;
}
.text-cost{
    text-align: center;
    margin:0 auto;
    font-weight: bold;
    direction: rtl;
}
.select-unit{
     border:none;
    outline: none;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    direction: rtl;
    text-align: center;
    height: 45px;
    padding: 10px;
}
.value-cost{
     border:none;
    outline: none;
    background-color: white;
    border-radius: 25px;
    margin-top: 30px;
    direction: rtl;
    text-align: center;
    height: 100px;
    padding: 41px;
    
}
.change-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:#f2f2f2;
    margin: 151px auto 0 auto;
    text-align: center;
     padding-top: 8px;
     border: none;
     outline: none;
}
.background{
    width: 100%;
    background-color: white;
    height: 528px;
}
/*---------------------------------------------------cars-page----------------------------*/
.banner-car-pages img{
    width: 100%;
    height: 200px;
}
.cars-page-background{
 
    background-color: #f5f6f8;
    width: 100%;
    height: auto;
    padding-bottom: 30px;

}
.mb-cars{
    margin-bottom: 20px;
}
.car-icon{
    font-size: 25px;
    position: relative;
    top: 6px;
    left: 7px;
}
.title-cars-cost{
    direction: rtl;;
    color: #422f4b;
    font-size: 18px;
    background-color: white;
    width: 160px;
    height: auto;;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 30px gray;
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -80px;
    margin-top: -31px;
}
.search-box{
    width: 100%;
    background-color: #e3e4e8;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 20px;
    padding:10px;
    direction: rtl;
    background-image:url(img/10.png);
    padding-right: 50px !important;
    background-position:right;
    background-repeat: no-repeat;

}

.search-icon{
    direction: rtl;
}
.bg-cars{
    background-color: #fcfcfc !important;
}
.bg-cars-c-t{
    background-color: #f5f6f8 !important;
    border-radius: 15px;
    width: 54px;
    text-align: center;
    height: auto;
    padding: 5px;
    font-size: 11px;
   
}
/*----------------------------------------------arz-page--------------------------*/
.pb{
    padding-bottom: 15px;
}
.arz-page-more{
    background-color: white !important;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut{
        stroke: #93298e !important;
}
.ct-grid {
    stroke-width:0px !important;
    stroke-dasharray: 0px !important;
}
.ct-labels{
    display: none;
}
.chartist-tooltip{
    top: 26% !important;
    left: 26% !important;
    background: #412e4c !important;
    color: white !important;
    border-radius: 10px  !important;
    width: 30px  !important;
    height: 25px !important;
    font-family: IRANSans;
}
.chartist-tooltip:before{
    border: 6px solid transparent !important;;
    border-top-color: #412e4c !important;
    margin-left: -6px !important;
}
.arz-page-cost-change{
    font-size: 14px;
    font-weight: bold;
    direction: rtl;
    display: block;
     float: right;
     padding-bottom: 3px;
}
.dd{
    font-size: 20px;
}
.bg-arz{
    height: 70px;
    background-color: white;
    border-top: 4px solid #f2f2f2;
    padding-top: 20px;
}
.arz-page-cost-change-range{
    font-size: 10px;
    direction: rtl;
    float: right;
}
.flag-cntry img{
    width: 20px;
    height: auto;
}
.flag-cntry{
    margin-bottom: 3px;
    text-align: left;
    padding-left: 5px;
}
.flag-cntry span{
    font-weight: bold;
    padding-left: 10px;
    
}
.buy-sell{
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: #f2f2f2;
    direction: rtl;
    padding: 3px 0;

}
/*--------------------------------------------------single-box-page---------------------------*/
.gry-box-single{
    direction: rtl;
       width: 132px;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 10px;
    margin-right: 9px;
    text-align: center;

}
.range-single-box{
    float: none;
    font-size: 13px;
}
.cost-single-box{
    text-align: center;
    margin-top: 20px;

}
.single-box-arz{
   float: none;
    display: inline-block;
    padding-top: 32px;
    font-size: 16px;
    direction: rtl;
    padding-bottom: 32px;
}
.single-box{
    padding:50px 0;
    background-color:white;
    padding-bottom: 30px;
    box-shadow: 2px 2px 40px gray;
    padding-bottom: 10px;
}
.gry-boxes{
    margin-right: auto;
    margin-left: auto;
}
.flag-cntry-single-box{
    
    height: auto;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 15px 0;
    text-align: center;
}
.flag-cntry-single-box img{
    width: 25px;
    height: auto;
    margin-left: 20px;
}
@media only screen and (max-width:330px){
    .text-cost{
            margin-right: -18px;
    }
    .name-of-cars{
        font-size: 9px;
    }

    .boxes-car{
        padding: 0;
    }
     .chartist-tooltip{
        left: 24% !important;
    }
}
@media only screen and (max-width:1000px){
     .logo-footer{
        text-align: center;

    }
    .left-footer-text{
    text-align: left;

}
   

}
@media only screen and (max-width:480px){

    .gry-box-single{
        float: none !important;
        text-align: center;
        margin-bottom: 20px;
        margin: 0 auto 20px auto;
    }
    .bg-arz{
        height: 95px;
    }
   
    .change-btn{
        margin: 50px auto 0 auto;
    }
    .navbar-left {
        text-align:center !important;
    }

 }
 @media only screen and (min-width:1200px){
    .fist-box-more{
        margin-top: 60px;
    }
 }
